/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24.09.2016, 22:09:29
    Author     : andreev_af
*/

@root_width: 100%;

@variant_button_width: 200px;
@variant_button_height: @variant_button_width;
@wr-groups_width: 700px;

@media all{
    .root,
    .wr-groups
    {
        position: absolute;
    }

}

@media screen{
    body{
        margin: 0px;
    }
    h1{
        font-family: 'Exo2';
    }
    .root{
        width: 100%;
    }
    .wr-groups{
        text-align: center;
        border: solid 1px #FFF;
        width: @wr-groups_width;
        left: @root_width/2;
        margin: 0px;
        margin-left: -@wr-groups_width/2;
    }
    .exam_nav{
        width: @variant_button_width;
        height: @variant_button_height;
        padding: 0px;
        padding-top: 50px;
        font-size: 82px;
        font-family: 'Noto Serif';
        text-align: center;
        margin: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .wr-examples{
        text-align: center;
    }
    .example, .example_result{
        font-family: 'PT Mono';
        font-size: 40px;
    }
    .example_result{
        height: 60px;
        text-align: center;
        padding: 0;
    }
}